

   <% layout("/layouts/boilerplate") %>
   
<body>
      <br><br>
     
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Create New Listing</h1>
    <form method="POST" action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
          <div class="mb-3">
            <label for="title" ><b>Title</b> </label>
        <input name="listing[title]" type="text" class="form-control" placeholder="Enter title"required >
         <div class="invalid-feedback"> Please enter a titile name</div>   
         
      </div>
          <br><br>

          <div class="mb-3">
            <label for="description" > <b>Description</b></label>
        <textarea  name="listing[description]"class="form-control"  placeholder="Enter Description" required></textarea>
          <div class="invalid-feedback" >Please enter a description</div>
      </div>
        <br><br>

        <div class="mb-3">
          <label for="image" >  <b>Choose image Link/URL</b> </label>
      <input  name="listing[image]" type="file" class="form-control" id="basic-url" placeholder="Enter image link/url"  required />
       <div class="invalid-feedback"> Link is not valid </div>
      </div>
      <br><br>
          
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" ><b>Price</b> </label>
        <input  name="listing[price]"  class="form-control" placeholder=" Enter price" required>
        <div class="valid-feedback">Looks good</div>
       </div>
       <br><br>

          <div class="mb-3 col-md-8">
            <lable for="country" ><b>Country</b> </lable>   
        <input  name="listing[country]" type="text" class="form-control" placeholder="Enter country" required >
         <div class="invalid-feedback">Enter a vslid country name</div>
           </div>
           <br><br>
        </div>

           <div class="mb-3">
            <lable for="location" > <b>Location</b></lable>
           <input  name="listing[location]" type="text" class="form-control" placeholder="Enter location" required >
             <div class="invalid-feedback">Enter a valid location</div>
            </div>
            <br><br>
         <button   type="submit" class="btn ">Add</button>
         <br><br>
    </form>
  </div>
</div>

 
</body>
